# Telegram
TELEGRAM_TOKEN=8381631907:AAGcvif5OeTYPlaat6NJhCwuibhUkFhCzLI

# Hermes
HERMES_URL=https://hermes-agent-qst4.srv2026911.hstgr.cloud
HERMES_API_KEY=seu-token-aqui-se-tiver

# Logging
LOG_LEVEL=INFO
